<section class="about-main">
  <section class="about-header">
    <div class="about-title">
      <h1>Riley's</h1>
      <h2>our story</h2>
    </div>
  </section>

  <div class="jordan">
    <!-- <img src="../../assets/photos/jrValicof.jpg"/> -->
    <div id="jordan-text">
      <p >
        Church-key hella mlkshk stumptown pitchfork. Selvage chillwave mixtape, quinoa church-key ugh small batch raw denim butcher XOXO street art neutra etsy lomo. Blue bottle flexitarian keffiyeh, cray selvage you probably haven't heard of them deep v godard williamsburg. Direct trade distillery viral, schlitz mixtape tilde hoodie chartreuse butcher. Beard letterpress authentic gentrify. Listicle pug flannel, sustainable try-hard cornhole tilde retro bicycle rights green juice tumblr forage hoodie. Organic everyday carry YOLO hoodie, hella echo park kale chips.
      </p>
    </div>
  </div>
  <div class="solid-section">

  </div>
  <div class="green-house-video">
    <video autoplay loop> <source src="../../assets/347881199.mp4" type='video/mp4'></video>
  </div>

  <div class="solid-section">

  </div>
  
  <div class="alan">
    <!-- <img src="../../assets/photos/conference.jpg"/> -->
    <!-- <p>
      Church-key hella mlkshk stumptown pitchfork. Selvage chillwave mixtape, quinoa church-key ugh small batch raw denim butcher XOXO street art neutra etsy lomo. Blue bottle flexitarian keffiyeh, cray selvage you probably haven't heard of them deep v godard williamsburg. Direct trade distillery viral, schlitz mixtape tilde hoodie chartreuse butcher. Beard letterpress authentic gentrify. Listicle pug flannel, sustainable try-hard cornhole tilde retro bicycle rights green juice tumblr forage hoodie. Organic everyday carry YOLO hoodie, hella echo park kale chips.
    </p> -->
  </div>

</section>
