<section class="about-main">
  <section class="about-header">
    <div class="about-title">
      <h1>Riley's</h1>
      <h2>our story</h2>
    </div>
  </section>

  <div class="overview-container">
    <p id="overview">
      Riley Farms is now in its fourth generation of growing produce here in Utah.
      We distribute produce wholesale, in farmers' markets, and also have a storefront in Perry, Utah.
      Over the last two decades we have established a robust and growing produce delivery system,
      servicing office buildings and convenient stores.
    </p>
    <h1>since 1960</h1>
  </div>

  <div class="jordan">
    <div id="jordan-text">
      <p>
      </p>
    </div>
  </div>
  <div class="farms-container">
    <p id="farms">
      Our basis of operations is in Payson, Utah, where 160 acres surrounds the family house.
      There is a barn, and our in Goshen we have other operations. We also have a plot in Green River,
      and are leasing another 160 acres in Perry.
    </p>
  </div>
  <div class="green-house-video">
    <video autoplay loop> <source src="../../assets/347881199.mp4" type='video/mp4'></video>
  </div>
  <div class="alan">
  </div>
  <div class="wares-container">
    <p id="wares">
      This is the shit we sell, you know?
    </p>
  </div>
  <div class="instagram-container">
    <a href="https://www.instagram.com/rileysfarmfresh/">
    <img src="../../assets/photos/insta_butterfly.jpg" alt="hm, I'm not sure where this photo went"/>
    </a>
    <a href="https://www.instagram.com/rileysfarmfresh/">
    <img src="../../assets/photos/insta_employees.jpg" alt="hm, I'm not sure where this photo went"/>
    </a>
    <a href="https://www.instagram.com/rileysfarmfresh/">
    <img src="../../assets/photos/insta_flowers.jpg" alt="hm, I'm not sure where this photo went"/>
    </a>
    <a href="https://www.instagram.com/rileysfarmfresh/">
    <img src="../../assets/photos/insta_peaches.jpg" alt="hm, I'm not sure where this photo went"/>
    </a>
    <a href="https://www.instagram.com/rileysfarmfresh/">
    <img src="../../assets/photos/insta_photos.jpg" alt="hm, I'm not sure where this photo went"/>
    </a>
    <a href="https://www.instagram.com/rileysfarmfresh/">
    <img src="../../assets/photos/insta_pumpkins.jpg" alt="hm, I'm not sure where this photo went"/>
    </a>
    <a href="https://www.instagram.com/rileysfarmfresh/">
    <img src="../../assets/photos/insta_sunset.jpg" alt="hm, I'm not sure where this photo went"/>
    </a>
  </div>

  <div class="about-footer">

  </div>


  <div class="partial-nav-to-home">
    <a ui-sref="home"
    <i class="fa fa-home fa-5x" aria-hidden="true"></i>
    </a>
  </div>

  <div animations-dir class="partial-nav">
    <i class="fa fa-bars fa-5x" aria-hidden="true"></i>
  </div>

  <div animations-dir class="partial-menu">
    <div><a ui-sref="about">about</a></div>
    <div><a ui-sref="office-delivery">office delivery</a></div>
    <div><a ui-sref="locations">markets and locations</a></div>
    <div><a ui-sref="contact">contact</a></div>
  </div>

  <div class="mobile-partial-nav-to-home">
    <a ui-sref="home"
    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
    </a>
  </div>

  <div animations-dir class="mobile-partial-nav">
    <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
  </div>

</section>
