<section class="about-main">
  <section class="about-header">
    <div class="about-title">
      <h1>Riley's</h1>
      <h2>our story</h2>
    </div>
  </section>

  <div class="overview-container">
    <p id="overview">
      Riley Farms is now in its fourth generation of growing produce here in Utah.
      We distribute produce wholesale, in farmers' markets, and also have a storefront in Perry, Utah.
      Over the last two decades we have established a robust and growing produce delivery system,
      servicing office buildings and convenient stores.
    </p>
    <h1>since 1960</h1>
  </div>

  <div class="jordan">
    <div id="jordan-text">
      <p>
      </p>
    </div>
  </div>
  <div class="farms-container">
    <p id="farms">
      Riley farms began in Payson, Utah, where Howard Riley bought land and
      started growing apples. The Riley's now have farms in Goshen, Green River,
      and Perry (all in Utah). Howard's grandson, Alan oversees all operations, with two of his
      sons playing an active part in cultivation, production and distribution. The orchard in Perry
      is their newest project, with 160 acres of apple, peach, cherry, and apricot trees.
    </p>
  </div>
  <div class="green-house-video">
    <video autoplay loop> <source src="../../assets/347881199.mp4" type='video/mp4'></video>
  </div>
  <div class="alan">
  </div>
  <div class="wares-container">
    <p id="wares">
      Our greatest energy goes into the cultivation of our fruit orchards.
      We grow a variety of apple trees, as well as peach, cherry, apricot, and plumb trees.
      Our farms and greenhouses grow plants and vegtables to help get your garden and flowerbeds
      started each spring. </br>
      We have also have relationships with farmers from Utah to the Pacific Northwest who we
      use to provide an even greater variety to our customers. </br>
      If you in the market for fresh fruit, either for yourself or for your business, visit
      these pages to learn more.
    </p>
    <div class="wares-links">
    <a ui-sref="office-delivery">Office Delivery</a>
    <a ui-sref="locations">Markets and Locations</a>
    <a ui-sref="contact">Call.Visit.Email</a>
    </div>
  </div>
  <div class="instagram-container">
    <a href="https://www.instagram.com/rileysfarmfresh/">
    <img src="../../assets/photos/insta_butterfly.jpg" alt="hm, I'm not sure where this photo went"/>
    </a>
    <a href="https://www.instagram.com/rileysfarmfresh/">
    <img src="../../assets/photos/insta_employees.jpg" alt="hm, I'm not sure where this photo went"/>
    </a>
    <a href="https://www.instagram.com/rileysfarmfresh/">
    <img src="../../assets/photos/insta_flowers.jpg" alt="hm, I'm not sure where this photo went"/>
    </a>
    <a href="https://www.instagram.com/rileysfarmfresh/">
    <img src="../../assets/photos/insta_peaches.jpg" alt="hm, I'm not sure where this photo went"/>
    </a>
    <a href="https://www.instagram.com/rileysfarmfresh/">
    <img src="../../assets/photos/insta_photos.jpg" alt="hm, I'm not sure where this photo went"/>
    </a>
    <a href="https://www.instagram.com/rileysfarmfresh/">
    <img src="../../assets/photos/insta_pumpkins.jpg" alt="hm, I'm not sure where this photo went"/>
    </a>
    <a href="https://www.instagram.com/rileysfarmfresh/">
    <img src="../../assets/photos/insta_sunset.jpg" alt="hm, I'm not sure where this photo went"/>
    </a>
  </div>

  <div class="about-footer">

  </div>


  <div class="partial-nav-to-home">
    <a ui-sref="home"
    <i class="fa fa-home fa-5x" aria-hidden="true"></i>
    </a>
  </div>

  <div animations-dir class="partial-nav">
    <i class="fa fa-bars fa-5x" aria-hidden="true"></i>
  </div>

  <div animations-dir class="partial-menu">
    <div><a ui-sref="about">about</a></div>
    <div><a ui-sref="office-delivery">office delivery</a></div>
    <div><a ui-sref="locations">markets and locations</a></div>
    <div><a ui-sref="contact">contact</a></div>
  </div>

  <div class="mobile-partial-nav-to-home">
    <a ui-sref="home"
    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
    </a>
  </div>

  <div animations-dir class="mobile-partial-nav">
    <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
  </div>

</section>
