<section class="admin-main">

  <div class="mobile-admin-header">
    <img src="http://test-nodep.s3-us-west-2.amazonaws.com/styles/xlarge/s3/images/main_image/article/neilyoungwsj.jpg"/>
    <div class="mobile-admin-header-text">
      <h1>Hi Jordan!</h1>
      <h2>Welcome to your administrator page</h2>
    </div>
  </div>

  <div class="desktop-admin-header">
    <img src="http://test-nodep.s3-us-west-2.amazonaws.com/styles/xlarge/s3/images/main_image/article/neilyoungwsj.jpg"/>
    <div class="desktop-admin-header-text">
      <h1>Hi Jordan!</h1>
      <h2>Welcome to your administrator page</h2>
    </div>
  </div>

  <section class="product-form">
    <h1> Product Form </h1>
    <li class="product-form-item"><input id="prd-name" placeholder="Product Name" ng-model="product.name" required></li>
    <li class="product-form-item"><input id="prd-price" placeholder="Price" ng-model="product.price" required></li>
    <li class="product-form-item"><input id="prd-container" placeholder="Measure (e.g. 'bushel')" ng-model="product.container" required></li>
    <li class="product-form-item"><input id="prd-notes" placeholder="Additional Notes (e.g. 'slightly blemished, fault of hail')" ng-model="product.notes"></li>
    <input class="product-form-button" type="button" value="Create Product" ng-click="postProduct(product)">
  </section>

  <section class="market-form">
    <h1> Market Form </h1>
    <li class="market-form-item"><input id="mkt-name" placeholder="Market Name:" ng-model="market.name" required></li>
    <li class="market-form-item"><input id="mkt-address" placeholder="Address" ng-model="market.address" required></li>
    <li class="market-form-item"><input id="mkt-times" placeholder="Dates and Times" ng-model="market.times" required></li>
    <li class="market-form-item"><input id="mkt-notes" placeholder="Additional Notes (e.g. 'We/'ll have cider!')" ng-model="market.notes"></li>
    <input class="market-form-button" type="button" value="Create Market" ng-click="postMarket(market)">
  </section>
</section>

<section class="watch-container">

<section class="admin-market-watch">
  <h1>Current Markets</h1>

  <div class="admin-markets">
    <table>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Dates and Times</th>
        <th>Notes</th>
        <th>Remove</th>
      </tr>
      <tr ng-repeat="market in markets">
        <td>{{ market.name }}</td>
        <td>{{ market.address }}</td>
        <td>{{ market.times }}</td>
        <td>{{ market.notes }} </td>
        <td><input class="delete-button" type="button"  ng-click="deleteMarket(market.id)" value="x"></td>
      </tr>
    </table>
  </div>

</section>

<section class="admin-product-watch">
    <h1>Current Product Offerings</h1>
    <div class="admin-products">
        <table>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Unit</th>
            <th>Notes</th>
            <th>Remove</th>
          </tr>
          <tr ng-repeat="product in products">
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.container }}</td>
            <td>{{ product.notes }} </td>
            <td><input class="delete-button" type="button"  ng-click="deleteProduct(product.id)" value="x"></td>
          </tr>
        </table>
      </div>
</section>

<section class="admin-orders-watch">
    <h1>Open Wholesale Orders</h1>
    <div class="admin-orders" ng-repeat="order in orders">
        <li> {{ }} </li>
        <li> {{ }} </li>
        <li> {{ }} </li>
        <li> {{ }} </li>
        <li> {{ }} </li>
        <input class="delete-button" type="button"  ng-click="deleteOrder(order.id)" value="x">
    </div>
</section>

<section class="personal-notes">
    <h1>Jordan's Personal Notes</h1>
    <input type="text" name="name" placeholder="what would you like to keep track of?" ng-model="personal.note">
    <input class="personal-note-button" type="button" value="Create Note" ng-click="postNote(personal)">
    <div class="personal-note-container" ng-repeat="note in notes">
      <p>{{note.note}}</p>
    </div>
</section>

<div class="partial-nav-to-home">
  <a ui-sref="home"
  <i class="fa fa-home fa-5x" aria-hidden="true"></i>
  </a>
</div>

<div animations-dir class="partial-nav">
  <i class="fa fa-bars fa-5x" aria-hidden="true"></i>
</div>

<div animations-dir class="partial-menu">
  <div><a ui-sref="about">about</a></div>
  <div><a ui-sref="office-delivery">office delivery</a></div>
  <div><a ui-sref="locations">markets and locations</a></div>
  <div><a ui-sref="contact">contact</a></div>
</div>

<div class="mobile-partial-nav-to-home">
  <a ui-sref="home"
  <i class="fa fa-home fa-2x" aria-hidden="true"></i>
  </a>
</div>

<div animations-dir class="mobile-partial-nav">
  <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
</div>


</div>
</section>
