<section class="contact-main">

    <section class="contact-container">

      <div class="contact-header">
        <h1 id="contact-title">Contact</h1>
      </div>

      <div class="contact-resources">
        <div class="social-media">
            <a href="https://www.facebook.com/rileysfarmfresh">
            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/rileysfarmfresh/">
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
            </a>
        </div>

        <div class="brick">
          <i class="fa fa-building" aria-hidden="true"></i>
          <h2>Nelson Fruit Stand</h2>
          <p>2055 S Hwy 89 <br> Brigham City, UT 84302</p>
        </div>
        <div class="email">
          <i class="fa fa-laptop" aria-hidden="true"></i>
          <h2 animations-dir class="email-string"></h2>
        </div>
        <div class="phone">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <h2>Main Office: 801.465.9411</h2>
          <h2>Nelson Fruit Stand: 435.723.8112</h2>
          <h2>Jordan Riley: 801.592.4709</h2>
        </div>

      </div>

    </section>


  <!-- <div class="partial-nav-to-home">
    <a ui-sref="home"
    <i class="fa fa-home fa-4x" aria-hidden="true"></i>
    </a>
  </div>

  <div animations-dir class="partial-nav">
    <i class="fa fa-bars fa-4x" aria-hidden="true"></i>
  </div>

  <div animations-dir class="partial-menu">
    <div><a ui-sref="about">about</a></div>
    <div><a ui-sref="office-delivery">office delivery</a></div>
    <div><a ui-sref="locations">markets and locations</a></div>
    <div><a ui-sref="contact">contact</a></div>
  </div>

  <div class="mobile-partial-nav-to-home">
    <a ui-sref="home"
    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
    </a>
  </div>

  <div animations-dir class="mobile-partial-nav">
    <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
  </div> -->

</section>
