
<section class="landing">


  <div class="desktop-go-login-button">
    <!-- <a ui-sref="login">
      <i class="fa fa-truck fa-flip-horizontal" aria-hidden="true"></i>
    </a> -->
    <button login-dir id="auth-login" type="button" name="button">
    <i class="fa fa-truck fa-flip-horizontal" aria-hidden="true"></i>
    </button>
  </div>

  <!-- linear menu  -->
  <div class="desktop-nav-container">
    <div class="desktop-nav">
      <div><a ui-sref="about">about</a></div>
      <div><a ui-sref="office-delivery">office delivery</a></div>
      <div><a ui-sref="locations">markets and locations</a></div>
      <div><a ui-sref="contact">contact</a></div>
    </div>
  </div>

<div id="family-farm">
  family farm since 1960
</div>
<div id="place-order">
  <a ui-sref="wholesale">
  place an order
  </a>
</div>

  <div animations-dir class="ham">
    <img src="../../assets/photos/blue-ham.png" alt="ham-menu"/>
    <div class="mobile-nav">
      <div><a ui-sref="about">about</a></div>
      <div><a ui-sref="office-delivery">office delivery</a></div>
      <div><a ui-sref="locations">markets and locations</a></div>
      <div><a ui-sref="contact">contact</a></div>
    </div>
  </div>

  <section class="hero-image">

    <div class="mobile-logo">
      <div class="light-box">
        <h1>Riley's</h1>
      </div>
      <div class="dark-box">
        <div class="fresh-box">
          <h2>farm fresh</h2>
        </div>
      </div>
    </div>

    <div class="desktop-logo">
      <img src="../../assets/photos/desktop-logo.png" alt="mobile-logo"/>
    </div>

  </section>

  <div class="mobile-go-login-button">
    <!-- <a ui-sref="login">
      <i class="fa fa-truck fa-flip-horizontal" aria-hidden="true"></i>
    <a/> -->
    <button login-dir id="auth-login" type="button" name="button">
    <i class="fa fa-truck fa-flip-horizontal" aria-hidden="true"></i>
    </button>
    <a ui-sref="wholesale">
      <i class="fa fa-shopping-basket" aria-hidden="true"></i>
    </a>
  </div>


</div>



</section>
