<section class="landing">

  <div class="desktop-go-login-button">
    <a ui-sref="login">
      <i class="fa fa-truck fa-flip-horizontal" aria-hidden="true"></i>
    <a/>
  </div>

  <div class="ham">
    <img src="../../assets/photos/yellow-ham.png" alt="ham-menu"/>
    <div class="mobile-nav">
      <div><a ui-sref="about">about</a></div>
      <div><a ui-sref="office-delivery">office delivery</a></div>
      <div><a ui-sref="locations">markets and locations</a></div>
      <div><a ui-sref="contact">contact</a></div>
    </div>
  </div>

  <section class="cherry">
    <div class="mobile-logo">
      <img src="../../assets/photos/mobile-logo.png" alt="mobile-logo"/>

    </div>
    <div class="desktop-logo">
      <img src="../../assets/photos/desktop-logo.png" alt="mobile-logo"/>
    </div>

    <!-- surround menu -->
    <h1 id="contact-link">
      <a ui-sref="contact">contact</a>
    </h1>
    <h1 id="about-link">
      <a ui-sref="about">about</a>
    </h1>
    <h1 id="locations-link">
      <a ui-sref="locations">markets and locations</a>
    </h1>
    <h1 id="delivery-link">
      <a ui-sref="office-delivery">office delivery</a>
    </h1>

  </section>

  <div class="mobile-go-login-button">
    <a ui-sref="login">
      <i class="fa fa-truck fa-flip-horizontal" aria-hidden="true"></i>
    <a/>
  </div>

  <!-- linear menu  -->
  <!-- <div class="desktop-nav">
    <div><a ui-sref="about">about<a/></div>
    <div><a ui-sref="office-delivery">office delivery<a/></div>
    <div><a ui-sref="locations">markets and locations<a/></div>
    <div><a ui-sref="contact">contact<a/></div>
  </div> -->
</div>



</section>
