
<section class="home-component">


  <div class="desktop-go-login-button">
    <!-- <a ui-sref="login">
      <i class="fa fa-truck fa-flip-horizontal" aria-hidden="true"></i>
    </a> -->
    <button login-dir id="auth-login" type="button" name="button">
    <i class="fa fa-truck fa-flip-horizontal" aria-hidden="true"></i>
    </button>
  </div>

  <!-- <div animations-dir class="ham">
    <img src="../../assets/photos/blue-ham.png" alt="ham-menu"/>
    <div class="mobile-nav">
      <div><a ui-sref="about">about</a></div>
      <div><a ui-sref="office-delivery">office delivery</a></div>
      <div><a ui-sref="locations">markets and locations</a></div>
      <div><a ui-sref="contact">contact</a></div>
    </div>
  </div> -->

  <section class="desktop-logo-nav-container">
      <div class="home-component-logo">
        <div class="top-logo-box">
          <h1>Riley's</h1>
        </div>
        <div class="bottom-logo-box">
          <div class="fresh-box">
            <h2>farm fresh</h2>
          </div>
        </div>
        <div class="desktop-nav">
          <a ui-sref="about">
            <div class="desktop-nav-item">about</div>
          </a>
          <a ui-sref="office-delivery">
            <div class="desktop-nav-item">office delivery</div>
          </a>
          <a ui-sref="locations">
            <div class="desktop-nav-item">markets and locations</div>
          </a>
          <a ui-sref="contact">
            <div class="desktop-nav-item">contact</div>
          </a>
          <a ui-sref="wholesale">
            <div class="desktop-nav-item">place an order</div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <div class="mobile-go-login-button">
    <!-- <a ui-sref="login">
      <i class="fa fa-truck fa-flip-horizontal" aria-hidden="true"></i>
    <a/> -->
    <button login-dir id="auth-login" type="button" name="button">
    <i class="fa fa-truck fa-flip-horizontal" aria-hidden="true"></i>
    </button>
    <a ui-sref="wholesale">
      <i class="fa fa-shopping-basket" aria-hidden="true"></i>
    </a>
  </div>

</section>
