<section class="locations-main">
  <div class="locations-header">
    <h1 id="location-title">Locations</h1>
  </div>
    <div class="location-market-container">

      <div class="location-container">
        <h1>Nelson's Fruit Stand</h1>
        <img src="../../assets/photos/store.jpg" alt="" />
        <p>
          2055 South Highway 89,
        </br> Perry, Utah
        </p>
      </div>

      <div class="markets-container" ng-repeat="market in markets">
        <div class="">
          <h1> {{ market.name }} </h1>
          <h2> {{ market.address }} </h2>
          <h2> {{ market.times }} </h2>
          <h3> {{ market.notes }} </h3>
        </div>
      </div>

  </div>

</section>

  <div class="partial-nav-to-home">
    <a ui-sref="home"
    <i class="fa fa-home fa-4x" aria-hidden="true"></i>
    </a>
  </div>

  <div animations-dir class="partial-nav">
    <i class="fa fa-bars fa-4x" aria-hidden="true"></i>
  </div>

  <div animations-dir class="partial-menu">
    <div><a ui-sref="about">about</a></div>
    <div><a ui-sref="office-delivery">office delivery</a></div>
    <div><a ui-sref="locations">markets and locations</a></div>
    <div><a ui-sref="contact">contact</a></div>
  </div>

  <div class="mobile-partial-nav-to-home">
    <a ui-sref="home"
    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
    </a>
  </div>

  <div animations-dir class="mobile-partial-nav">
    <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
  </div>

</section>
