<section class="desktop-login-main">

<!-- <div  class="whatever">
  <button id="something" type="button" name="button">something</button>
  <button login-dir id="auth-login" type="button" name="button">Login</button>
</div> -->



<div class="desktop-login-container">
  <h1 class="login-title">administrator and wholesale-order login</h1>
  <div class="input-container">
    <input id="user-name" type="text" ng-model="user.name" placeholder="User Name">
    <br />
    <input id="password" type="password" ng-model="user.password" placeholder="Password">
    <br />
      <a ui-sref="admin">
        <button id="login-button">Login</button>
      <a/>
  </div>
</div>


</section>

<section class="mobile-login-main">

<div class="mobile-login-container">
  <h1 class="login-title">administrator and wholesale-order login</h1>
  <div class="input-container">
    <input id="user-name" type="text" ng-model="user.name" placeholder="User Name">
    <br />
    <input id="password" type="password" ng-model="user.password" placeholder="Password">
    <br />
      <a ui-sref="admin">
        <button id="login-button">Login</button>
      <a/>
  </div>
</div>



</section>
<div class="footer-home-nav">
  <a ui-sref="home">
    <i class="fa fa-home" aria-hidden="true"></i>
  <a/>
</div>
