<section animations-dir class="delivery-main">
<h1 class="dummy">Office Delivery</h1>

<div class="information-container">
  <h1>Fresh.Fast.Local.</h1>
  <p id="deliver-one">
    For over 20 years, we have been delivering fruit to local businesses.
    Want a healthy snack option in your workplace? <span><a ui-sref="contact">Contact us by phone or email,</a></span>
    and you will have a basket fresh from our farm the very next week.
  </p>
  <div class="text-spacer"></div>
  <p id="deliver-two">
    We source the items from our own local farms, as well as a network of farms with
    whom we have a relationship. This allows us to offer a large variety of produce,
    like pears, bananas, and pluots (plumb-apricots).
  </p>
  <div class="text-spacer"></div>
  <p id="deliver-three">
    Schedule your deliveries for as often as you would like and alter your request of products as you needs change. Our fleet of drivers cover
    addresses from Payson to Logan.
  </p>
  <div class="text-spacer"></div>
  <p id="deliver-four">
    “We love the fruit and people are very happy with it.  More importantly, we are eating far less candy, which is great!  :)”
  </br>--Anne, Maschoff Brennan, Park City
  </p>

</div>

<div class="chubby-header">
  <h1>Office Delivery</h1>
</div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>


  <!-- <section class="delivery-header">

  </section> -->

  <section class="delivery-content">

  </section>

  <div class="partial-nav-to-home">
    <a ui-sref="home"
    <i class="fa fa-home fa-5x" aria-hidden="true"></i>
    </a>
  </div>

  <div animations-dir class="partial-nav">
    <i class="fa fa-bars fa-5x" aria-hidden="true"></i>
  </div>

  <div animations-dir class="partial-menu">
    <div><a ui-sref="about">about</a></div>
    <div><a ui-sref="office-delivery">office delivery</a></div>
    <div><a ui-sref="locations">markets and locations</a></div>
    <div><a ui-sref="contact">contact</a></div>
  </div>

  <div class="mobile-partial-nav-to-home">
    <a ui-sref="home"
    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
    </a>
  </div>

  <div animations-dir class="mobile-partial-nav">
    <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
  </div>

</section>
