<section class="delivery-main">

  <section class="delivery-header">

  </section>

  <section class="delivery-content">

  </section>

  <div class="partial-nav-to-home">
    <a ui-sref="home"
    <i class="fa fa-home fa-5x" aria-hidden="true"></i>
    </a>
  </div>

  <div animations-dir class="partial-nav">
    <i class="fa fa-bars fa-5x" aria-hidden="true"></i>
  </div>

  <div animations-dir class="partial-menu">
    <div><a ui-sref="about">about</a></div>
    <div><a ui-sref="office-delivery">office delivery</a></div>
    <div><a ui-sref="locations">markets and locations</a></div>
    <div><a ui-sref="contact">contact</a></div>
  </div>

  <div class="mobile-partial-nav-to-home">
    <a ui-sref="home"
    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
    </a>
  </div>

  <div animations-dir class="mobile-partial-nav">
    <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
  </div>

</section>
