<section class="wholesale-main">

  <div class="mobile-wholesale-header">
    <i class="fa fa-bars" aria-hidden="true"></i>
    <h1 id="wholesale-title">Place an Order</h1>
    <div class="header-home-nav">
      <a ui-sref="home">
        <i class="fa fa-home" aria-hidden="true"></i>
      <a/>
    </div>

  </div>

  <section class="order-form-parent">
      <h1>Current Product Offerings</h1>

      <div class="order-form">
          <table>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Unit</th>
              <th>Notes</th>
              <th>Quanitity</th>
            </tr>
            <tr ng-repeat="product in products">
              <td>{{ product.name }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.container }}</td>
              <td>{{ product.notes }} </td>
              <td><input type="text" name="name" placeholder="Qty."></td>
            </tr>
          </table>
        </div>
        <div class="submit-button-container">
          <input class="order-submit" type="button" name="name" value="submit order">
        </div>

  </section>

  <div class="partial-nav-to-home">
    <a ui-sref="home"
    <i class="fa fa-home fa-5x" aria-hidden="true"></i>
    </a>
  </div>

  <div animations-dir class="partial-nav">
    <i class="fa fa-bars fa-5x" aria-hidden="true"></i>
  </div>

  <div animations-dir class="partial-menu">
    <div><a ui-sref="about">about</a></div>
    <div><a ui-sref="office-delivery">office delivery</a></div>
    <div><a ui-sref="locations">markets and locations</a></div>
    <div><a ui-sref="contact">contact</a></div>
  </div>

  <div class="mobile-partial-nav-to-home">
    <a ui-sref="home"
    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
    </a>
  </div>

  <div animations-dir class="mobile-partial-nav">
    <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
  </div>

</section>
