<section class="wholesale-main">

  <div class="mobile-wholesale-header">
    <i class="fa fa-bars" aria-hidden="true"></i>
    <h1 id="wholesale-title">Place an Order</h1>
    <div class="header-home-nav">
      <a ui-sref="home">
        <i class="fa fa-home" aria-hidden="true"></i>
      <a/>
    </div>

  </div>

  <div class="product-container">
    <ul ng-repeat="product in products">
      <li>quantity: {{ product.name }} {{ product.price }} per {{product.container}} {{ product.notes }}</li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  </div>

</section>
