<section class="wholesale-main">

  <div class="wholesale-header">
    <h1 id="wholesale-title">Place an Order</h1>

  </div>
<section id="trailer">
  <i id="truck" class="fa fa-truck fa-flip-horizontal fa-5x" aria-hidden="true"></i>
</section>

  <section class="order-form-parent">
      <h1>Current Product Offerings</h1>

      <div class="order-form">
          <table>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Unit</th>
              <th>Notes</th>
              <th>Quanitity</th>
            </tr>
            <tr ng-repeat="(i, product) in order.products" ng-model="order.products[i]">
              <td>{{ product.name }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.container }}</td>
              <td>{{ product.notes }} </td>
              <td><input type="text" name="name" placeholder="Qty." ng-model="order.products[i].quantity"></td>
            </tr>
          </table>
        </div>
        <div class="submit-button-container">
          <div class="customer-information">
            <input class="customer-name" type="text" name="name" placeholder="Name" ng-model="order.user.name">
            <input class="customer-phone" type="text" name="phone" placeholder="Phone" ng-model="order.user.phone">
            <input class="customer-email" type="text" name="email" placeholder="Email" ng-model="order.user.email">
          </div>
          <input class="order-submit" type="button" name="name" value="submit order" ng-click="postOrder(order)">
        </div>

        <div class="phone-alert">
          <h1>* someone will call you to confirm and fulfill your order</h1>
        </div>
  </section>


  <div class="partial-nav-to-home">
    <a ui-sref="home"
    <i class="fa fa-home fa-4x" aria-hidden="true"></i>
    </a>
  </div>

  <div animations-dir class="partial-nav">
    <i class="fa fa-bars fa-4x" aria-hidden="true"></i>
  </div>

  <div animations-dir class="partial-menu">
    <div><a ui-sref="about">about</a></div>
    <div><a ui-sref="office-delivery">office delivery</a></div>
    <div><a ui-sref="locations">markets and locations</a></div>
    <div><a ui-sref="contact">contact</a></div>
  </div>

  <div class="mobile-partial-nav-to-home">
    <a ui-sref="home"
    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
    </a>
  </div>

  <div animations-dir class="mobile-partial-nav">
    <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
  </div>

</section>
