$head: 'Lobster', cursive;
$body: 'Asap', sans-serif;
$thin: 'Raleway', sans-serif;
$yellow: #E4BD3A;
$red: #BD573F;
$blue: #276998;
$dark-green: #1E211F;
$dark-green-light: rgba(30, 33, 31, 0.9);
$dark-green-way-light: rgba(30, 33, 31, 0.2);
$pale: #FEF7DA;
$off-white: #C9C5C8;
