@import "fonts-and-colors";

.home-component {
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("../../assets/photos/rileyCrate.jpg");
  background-size: cover;
  z-index: 0;
}
// .ham {
//   width: 80vw;
//   height: 13px;
//   margin-left: auto;
//   margin-right: auto;
//   margin-bottom: 2vh;
//   text-align: center;
//   padding-top: 1vh;
//   }
.desktop-logo-nav-container {
  width: 200px;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 10;
}
.home-component-logo {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.top-logo-box {
  background-color: white;
  border-radius: 5px 5px 0 0;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  line-height: 1.3;
  font-family: $head;
  color: $red;
  font-size: 56px;
}
.fresh-box {
  padding-bottom: 10px;
  border-bottom: 1px solid $dark-green;
}
.bottom-logo-box {
  font-family: $thin;
  color: $dark-green;
  background-color: white;
  font-size: 15px;
  line-height: 3;
  text-align: center;
}
.desktop-nav {
  display: none;
  width: 100%;
  background-color: $dark-green;
  flex-direction: column;
  border-radius: 0 0 5px 5px;
}
.desktop-nav a {
  border-top: 1px solid rgba(255, 255, 255, .1);
  text-decoration: none;
  font-size: 17px;
  line-height: 3;
  color: white;
  font-family: $thin;
  font-weight: 100;
  display: flex;
  justify-content: center;
  &:hover {background-color: $red; color: white}
}
// .mobile-nav {
//   background-color:$dark-green;
//   opacity: 0.8;
//   width: 100%;
//   height: auto;
//   text-align: center;
//   line-height: 39px;
//   display: none;
//   padding-top: 1vh;
//   padding-bottom: 1vh
// }
.mobile-nav a{
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: $thin;
  font-weight: 100;
}
.mobile-go-login-button {
  margin-top: 1vh;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
}
.mobile-go-login-button :hover {
  color: $red;
}
.mobile-go-login-button > a {
  color: $dark-green;
  text-decoration: none;
  &:hover {color: $blue}
}
// .desktop-nav-container {
//   position: relative;
//   top: 8px;
//   right: 28vw;
// }


.cherry h1{
  visibility: hidden;
}
#family-farm {
  opacity: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-family: $thin;
  font-weight: 100;
  color: $dark-green;
  position: absolute;
  right: -2em;
  top: 50%;
  font-size: 12px;
}
#place-order {
  opacity: 0;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  font-family: $thin;
  font-weight: 300;
  color: $dark-green;
  position: absolute;
  left: -2em;
  top: 50%;
  font-size: 15px;
  a {
    text-decoration: none;
    color: $red;
  }
}
.desktop-go-login-button{
  text-align: right;
  font-size: 20px;
  position: absolute;
  right: 3vw;
  top: 1vh;
  opacity: 0;
  button {
    background: none;
    border: none;
    &:hover {color: $red};
  }
}
.desktop-go-login-button > a {
  color: $blue;
  text-decoration: none;
  &:hover {color: $red};
}
.checkers {
  height: 10%;
  width: 5%;
  float: right;
  right: 50px;
  background-color: black;
  transition: background-color .5s linear;
  z-index: 8;
  font-family: $head;
  opacity: .1;
  text-align: center;
  align-self: center;
  font-size: 22px;
  color: rgba(0, 0, 0, 0);
  &:hover{background-color: rgba(0, 0, 0, 0); color: red}
}


@media (min-width: 780px){
  .customer-name {
    width: 300px;
  }
  .desktop-logo-nav-container {

  }
  .home-component-logo {

  }
  #family-farm {
    opacity: 1;
  }
  #place-order {
    opacity: 1;
  }
  .desktop-nav {
    display: flex;
  }
  // .ham {
  //   visibility: hidden;;
  // }
  .mobile-go-login-button {
    visibility: hidden;
  }
  .desktop-go-login-button {
    opacity: 1;
  }
}
