@import "fonts-and-colors";

.route-container {

}
.landing {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: inline-block;
}
.ham {
  width: 80vw;
  height: 13px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
  text-align: center;
  padding-top: 1vh;
  }
.hero-image {
  background-image: url("../../assets/photos/blueberries.jpg");
  background-size: cover;
  width: 92%;
  height: 92%;
  margin: auto;
  display: flex;
}
.mobile-logo {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.light-box {
  background-color: white;
  width: 100%;
  height: 120px;
  font-family: $head;
  color: $red;
  font-size: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fresh-box {
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}
.dark-box {
  @extend .light-box;
  background-color: $dark-green;
  font-family: $thin;
  font-weight: 100;
  color: white;
  font-size: 15px
}

.mobile-nav {
  background-color:$dark-green;
  opacity: 0.8;
  width: 100%;
  height: auto;
  text-align: center;
  line-height: 39px;
  display: none;
  padding-top: 1vh;
  padding-bottom: 1vh
}
.mobile-nav a{
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: $thin;
  font-weight: 100;
}
.mobile-go-login-button {
  margin-top: 1vh;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
}
.mobile-go-login-button :hover {
  color: $red;
}
.mobile-go-login-button > a {
  color: $dark-green;
  text-decoration: none;
  &:hover {color: $blue}
}
.desktop-nav-container {
  position: relative;
  top: 8px;
  right: 28vw;
}
.desktop-nav {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  width: 45vw;
}
.desktop-nav a {
  display: none;
  text-decoration: none;
  font-size: 17px;
  color: $dark-green;
  font-family: $thin;
  &:hover {background-color: $red; color: white}
}
.desktop-logo{
  display: none;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
.cherry h1{
  visibility: hidden;
}
#family-farm {
  opacity: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-family: $thin;
  font-weight: 100;
  color: $dark-green;
  position: absolute;
  right: -2em;
  top: 50%;
  font-size: 12px;
}
#place-order {
  opacity: 0;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  font-family: $thin;
  font-weight: 300;
  color: $dark-green;
  position: absolute;
  left: -2em;
  top: 50%;
  font-size: 15px;
  a {
    text-decoration: none;
    color: $red;
  }
}

#about-link {
  font-family: $head;
  color: $yellow;
  position: absolute;
  bottom: 10px;
  margin-left: 45%;
  font-size: 19px;
  a {
    text-decoration: none;
    color: $yellow;
  }
}
#locations-link {
  font-family: $head;
  color: $yellow;
  position: absolute;
  top: 8px;
  margin-left: 43%;
  justify-content: center;
  font-size: 19px;
  a {
    text-decoration: none;
    color: $yellow;
  }
}
.desktop-go-login-button{
  text-align: right;
  font-size: 20px;
  position: absolute;
  right: 3vw;
  top: 1vh;
  opacity: 0;
  button {
    background: none;
    border: none;
    &:hover {color: $red};
  }

}
.desktop-go-login-button > a {
  color: $blue;
  text-decoration: none;
  &:hover {color: $red};

}

//  PARTIAL NAVIGATION
.partial-nav-to-home{
  visibility: hidden;
  position: fixed;
  right: -15px;
  top: 50vh;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: $blue;
  text-align: center;
  .fa-home{color: white; text-decoration: none;}
  &:hover {background-color: $red}
}
.partial-nav {
  @extend .partial-nav-to-home;
  cursor: pointer;
  left: -15px;
  .fa-bars{-webkit-filter: invert(1); text-decoration: none;}
}
.partial-menu {
  // z-index: 100;
  position: fixed;
  left: 69px;
  top: 50vh;
  background-color:$blue;
  opacity: 0.9;
  border-radius: 15px;
  width: 250px;
  height: auto;
  text-align: center;
  line-height: 39px;
  display: none;
  padding-top: 1vh;
  padding-bottom: 1vh;
  a {
    text-decoration: none;
    font-family: $body;
    color: white;
  }
}
.mobile-partial-nav-to-home{
  visibility: visible;
  position: fixed;
  right: -10px;
  top: 50vh;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: $blue;
  text-align: center;
  .fa-home{color: white; text-decoration: none;}
}
.mobile-partial-nav {
  @extend .mobile-partial-nav-to-home;
  left: -10px;
  .fa-bars{-webkit-filter: invert(1); text-decoration: none;}
}

//  ABOUT PARTIAL
.about-main {
  height: 100vh;
  // background-color: black;
  width: 100%;
}
.about-header {
  height: 100%;
  width: 100vw;
  background-image: url("../../assets/photos/barn-wood-min.jpg");
  background-size: cover;
  // overflow: hidden;
}
.about-title {
  width: 50vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 45vh;
  padding-bottom: 3vh;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0 0 15px 15px;
  h1 {
    font-family: $head;
    color: $red;
    font-size: 60px;
    margin-bottom: 30px;
  }
  h2 {
    font-family: $thin;
    font-size: 25px;
    font-weight: 300;
    color: $blue;
    padding-bottom: 4px;
    border-bottom: 4px solid $blue;
  }
}
.overview-container{
  height: auto;
  padding: 10vh 10vw;
  background-color: $dark-green;
  text-align: center;
  p {
    color: $off-white;
    font-family: $thin;
    font-weight: 200;
    line-height: 30px;
  }
  h1 {
    margin-top: 25px;
    font-family: $head;
    font-size: 26px;
    color: $blue;
  }
}
.jordan {
  background: url("../../assets/photos/jrValicof.jpg");
  background-size: cover;
  height: 35vh;
  font-family: $body;
  // filter: grayscale(100%);
  // -webkit-filter: grayscale(80%);
}
#jordan-text {
  width: 40vw;
  margin-top: 5vh;
  margin-right: 2vw;
  float: right;
}
.farms-container {
  @extend .overview-container;
  background-color: $red;
  // height: 40vh;
  p{
    color: $dark-green;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #farm-icons {
    margin-bottom: 3vh;
  }
  #farms-hipsum {
    display: none;
  }
}
.green-house-video {
  display: none;
  background-color: black;
  margin-right: auto;
  margin-left: auto;
  height: 30vh;
  width: 100vw;
}
.alan {
  background: url("../../assets/photos/conference.jpg");
  background-size: cover;
  height: 35vh;
  // filter: grayscale(100%);
  // -webkit-filter: grayscale(100%);
}
.wares-container {
  @extend .overview-container;
  background-color: $blue;
  p {
    color: white;
  }
  .wares-links {
    height: auto;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
  }
  a {
    font-family: $head;
    text-decoration: none;
    font-size: 20px;
    color: $dark-green;
    margin-bottom: 5vh;
    &:hover{color: $red}
  }
}
.instagram-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  img {
    width: 100%;
    height: auto;
    border: none;
    margin-bottom: -3px;
  }

}
.about-footer {
  height: 25vh;
  background-color: $dark-green;
}

//  LOCATIONS PARTIAL
.locations-header {
  font-family: $head;
  text-align: center;
  font-size: 26px;
  line-height: 30px;
  width: 100%;
  padding-bottom: 1vh;
}
.location-container {
  @extend .markets-container;
  h1 {
    font-family: $head;
    margin-bottom: 2vh;
  }
  img {
    width: 37vw;
    margin-bottom: 2vh;
  }
  p {
    font-family: $thin;
    color: white;
  }
}
.locations-main {
  height: 92vh;
  background-color: white;
  padding-left: 3vw;
  overflow: scroll;
}
.locations-sub-one {
  height: 92vh;
  width: 48%;
  visibility: hidden;
  position: fixed;
  right: 3vw;
  top: 4vh;
  background-image: url("../../assets/photos/green-beans.jpeg");
  background-size: cover;
  // background-attachment: fixed;
  // background-position: center;
  // background-repeat: no-repeat;
  // overflow: scroll;
  // padding-top: 100px;
}
.markets-container {
  width: 95%;
  padding: 3vh 0;
  background-color: $dark-green;
  font-family: $thin;
  color: white;
  text-align: center;
  margin-top: 20px;
  opacity: .85;
  align-content: center;
  border-radius: 8px;
  h1 {
    font-family: $head;
    margin-bottom: 10px;
    font-size: 21px;
  }
}

.locations-main::-webkit-scrollbar {
    width: 3px;

}
.locations-main::-webkit-scrollbar-track {
    background: white;
}
.lcoations-main::-webkit-scrollbar-thumb {
    outline: none;
    background-color: #2a3132;
}

//  ADMINISTRATOR PARTIAL
.admin-main {
  padding-top: 20px;
  width: 100%;
  height: 100%
}
.mobile-admin-header {
  height: 70vh;
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  img {
    height: auto;
    width: 100%;
    border-radius: 6px;
    margin-bottom: 60px;
  }
}
.mobile-admin-header-text {
  align-self: center;
  display: inline;
  // line-height:;
  font-family: $head;
  font-size: 30px;
  h2 {
    margin-top: 30px;
    font-size: 22px;
    color: $dark-green;
  }
}
.desktop-admin-header {
  height: 35vh;
  width: 50vw;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5vh;
  display: none;
  text-align: center;
  align-content: center;
  img {
    height: 35vh;
    margin-right: 50px;
    border-radius: 6px;
  }
}
.desktop-admin-header-text {
  align-self: center;
  display: none;
  line-height: 55px;
  font-family: $head;
  font-size: 30px;
  h2 {
    font-size: 22px;
    color: $dark-green;
  }
}
.market-form {
  width:80vw;
  margin-left: auto;
  margin-right: auto;
  padding: 3vh 0;
  background-color: $dark-green;
  font-family: $body;
  text-align: center;
  margin-bottom: 30px;
  opacity: .85;
  align-content: center;
  border-radius: 8px;
  h1 {
    font-family: $head;
    margin-bottom: 26px;
    font-size: 26px;
    color: white;
  }
  li {
    list-style: none;
    margin-bottom: 10px;
  }
  input {
    width: 90%;
  }
  .delete-button {
    width: 22px;
    font-weight: 700;

  }
}
.market-form-button {
  background-color: $red;
  color: white;
  border: none;
  &:hover{background-color: $blue}
}
.product-form-button {
  @extend .market-form-button;
}
.product-form {
  @extend .market-form;
}
.watch-container {
  // display: flex;
  font-family: $body;
}
::-webkit-scrollbar {
    display: none;
}
.admin-market-watch{
  width:80vw;
  overflow-x: scroll;
  margin-left: auto;
  margin-right: auto;
  padding: 3vh 0;
  background-color: $dark-green;
  font-family: $thin;
  margin-top: 3vh;
  margin-bottom: 6vh;
  opacity: .85;
  border-radius: 8px;
  display: flex;
  text-align: center;
  flex-direction: column;
  h1 {
    font-family: $head;
    margin-bottom: 26px;
    font-size: 26px;
    color: white;
  }
}
.admin-markets{
  width: 100%;
  display: flex;
  justify-content: center;
  table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  table, th, td {
    border: 1px solid #31332E;
    border-collapse: collapse;
    padding: 5px;
    font-size: 15px;
    color: white;
    th {
      text-align: center;
      color: white;
      font-size: 18px;
      text-decoration: underline;
      // background-color: $red;
    }
    .delete-button {
      color: white;
      border: none;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, .3);
    }
  }
}
.admin-product-watch{
    @extend .admin-market-watch;
}
.admin-products {
  @extend .admin-markets;
}
.admin-orders-watch{
  @extend .admin-market-watch;
}
.admin-orders {
  @extend .admin-markets;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: $thin;

}
.order-holder {
  table {
    margin-bottom: 4vh;
  }
  #invoice-title {
    // height: 40px;
    vertical-align: middle;
    background-color: $dark-green;
    color: white;
    line-height: 30px;
    text-decoration: none;
  }
  span {
    color: $red;
    margin-right: 2vw;
    margin-left: 1vh;
    font-size: 22px;
  }
  th {
    text-align: center;
    font-weight: 300;
  }
  td {
    font-weight: 100;
  }
  #invoice-table-delete {
    text-align: center;
    background-color: transparent;
  }
}
.delete-button {
  width: 50px;
}
.personal-notes {
  @extend .market-form;
  background-color: $blue;
  input{
    margin-top: 20px;
  }
}
.personal-note-button{
  margin-bottom: 20px;
  background-color: $red;
  color: white;
  border: none;
}
.personal-note-container {
  margin-top: 20px;;
  border-radius: 8px;
  width: 90%;
  padding: 3vh 0;
  color: white;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  .delete-button {
    color: $dark-green;
    border: none;
    border-radius: 50%;
    background-color: rgba(30, 33, 31, .2);
  }
}

//  OFFICE DELIVERY PARTIAL
.delivery-main {
  background-image: url("../../assets/photos/baskets.jpeg");
  background-size: cover;
  height: 100vh;
  // position: absolute;
  z-index: 0;
}
.delivery-header {
  background-color: black;
  height: 4vh;
}
.delivery-content {
}
.information-container {
  display: none;
  z-index: 1;
  width: 50vh;
  height: 95vh;
  overflow: scroll;
  border-radius: 0 0 8px 8px;
  padding-top: 25vh;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(30, 33, 31, 0.8);
  h1 {
    font-family: $head;
    font-size: 40px;
    color: $blue;
    margin-bottom: 30px;
  }
  #deliver-one {
    padding-left: 10px;
    border-left: 5px solid $blue;
    color: white;
    font-family: $thin;
    line-height: 30px;
    span a {
      color: $blue;
      text-decoration: none;
      &:hover {background-color: white}
    }
  }
  .text-spacer {
    height: 60px;
  }
  #deliver-two {
    @extend #deliver-one;
    border-left: none;
    padding-right: 10px;
    text-align: right;
    border-right: 5px solid $blue;
  }
  #deliver-three {
    @extend #deliver-one;
  }
  #deliver-four {
    @extend #deliver-one;
    border: none;
    text-align: center;
  }
}
.chubby-header {
  position: absolute;
  font-family: $head;
  color: white;
  font-size: 120px;
  top: 45vh;
  right: 20vw;
}
.dummy{
  display: none;
  position: absolute;
  top: 5px;
  right: 45vw;
  font-family: $head;
  color: white;
  font-size: 30px;
}
//   EXPERIMENT
.box {
  height: 10%;
  width: 5%;
  // display: flex;
  // flex-direction: column;
  float: right;
  right: 50px;
  background-color: black;
  transition: background-color .5s linear;
  z-index: 3;
  font-family: $head;
  opacity: .7;
  text-align: center;
  align-self: center;
  font-size: 22px;
  color: rgba(0, 0, 0, 0);
  &:hover{background-color: rgba(0, 0, 0, 0); color: red}
}


//  CONTACT PARTIAL
.contact-main{
  background-color: white;
  // background-image: url("../../assets/photos/cherry-tree.jpeg");
  background-size: cover;
  height: 100%;
  // overflow: scroll;
  display: flex;
  flex-direction: row;
}
.sub-contact-main {
  height: 0vh;
  width: 95vw;
  margin: auto;
  margin-top: 45px;
  background-attachment: fixed;
  background-position: center;
  // display: none;
  background-image: url('../../assets/photos/strawberries-hands.jpeg');
  background-size: cover;
}
.mobile-contact-main{

}
.contact-header {
  position: absolute;
  right: 40%;
  top: 7px;
}
#contact-title {
  font-family: $head;
  color: $dark-green;
  font-size: 30px;
  // padding-bottom: 10px;
  // border-bottom: 1px solid $dark-green;
}
.contact-container {
  background-attachment: fixed;
  background-position: center;
  // display: none;
  background-image: url('../../assets/photos/strawberries-hands.jpeg');
  background-size: cover;
  overflow: scroll;
  transition: background-color .5s linear;
  &:hover{background-color: rgba(0, 0, 0, 0)}
  // width: 100%;
  // height: 40vh;
  right: 0px;
  text-align: center;
  font-family: $body;
  font-size: 20px;
  padding-bottom: 45px;
  color: white;
  div {
    margin-top: 35px;
    background-color: $dark-green;
    opacity: 0.9;
    width: 315px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 35px 20px;
    border-radius: 7px;
  }
  h2 {
    // color: white;
    line-height: 32px;
    font-family: $thin;
  }
  p {
    // color: white;
    font-family: $thin;
  }
  .fa-building {
    // color: white;
    margin-bottom: 35px;
  }
  .fa-phone {
    @extend .fa-building;
  }
  .fa-laptop {
    @extend .fa-building;
  }
  a {
  text-decoration: none;
  color: white;
  word-spacing: 20px;
  }
}



// ADMIN AND WHOLESALE PARTIALS
.desktop-login-main {
  background-image: url("../../assets/photos/apples-lot-of-leaves.jpeg");
  background-size: cover;
  height: 100vh;
  display: none;
}
.mobile-login-main {
  background-image: url("../../assets/photos/peppers.jpg");
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: flex;
}
.desktop-login-container {
  width: 500px;
  height: 42vh;
  background-color: white;
  margin-top: 12vh;
  margin-left: 10vw;
  border-radius: 10%;
  text-align: center;
}
.mobile-login-container {
  background-color: white;
  width: 350px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  text-align: center;
  border-radius: 10%;
}
.login-title {
  font-family: $head;
  color: $blue;
  font-size: 18px;
  margin-top: 7%;
}
.input-container {
  /*background-color: black;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 12%;
  height: 60%;
  width: 60%;
  font-family: $body;
}
#user-name {
  /*margin-top: 100px;*/
  margin-bottom: 8%;
  border: 1px solid $blue;
  font-size: 15px;
  width: 218px;
  height: 27px;
  border-radius: 4px;
  padding-left: 4px;
}
#password {
  margin-bottom: 12%;
  border: 1px solid $blue;
  font-size: 15px;
  width: 218px;
  height: 27px;
  border-radius: 4px;
  padding-left: 4px;
}
#login-button {
  background-color: $blue;
  border: none;
  height: 27px;
  width: 60px;
  font-size: 15px;
  border-radius: 4px;
  color: white;
  &:hover {background-color: $red}
}
.footer-home-nav {
  background-color: $blue;
  width: 35px;
  height: 35px;
  /*justify-content: center;*/
  text-align: center;
  border-radius: 50%;
  margin-top: -80px;
  margin-left: auto;
  margin-right: auto;
  &:hover {background-color: $red}
}
.footer-home-nav > a {
  font-size: 30px;
  text-decoration: none;
  color: white;
}

.wholesale-main {
  background: white;
  height: 100vh;
}
.wholesale-header {
  width: 100%;
  text-align: center;
  padding-top: 5px;
  #wholesale-title {
    font-family: $head;
    color: $dark-green;
    font-size: 25px;
  }
}
#wholesale-title {
  font-family: $head;
  color: $red;
  font-size: 27px;
}
#trailer {
  height: 10vh;
  width: 100%;
  position: relative;
  text-align: center;
  padding-top: 5vh;
}
#truck {
  color: $dark-green;
}
.order-form-parent {
  width:80vw;
  overflow-x: scroll;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
  margin-bottom: 20px;
  padding: 3vh 0;
  background-color: $dark-green;
  font-family: $body;

  opacity: .85;
  border-radius: 8px;
  display: flex;
  text-align: center;
  flex-direction: column;
  h1 {
    font-family: $head;
    margin-bottom: 7vh;
    font-size: 26px;
    color: white;
  }
}
.order-form {
  width: 100%;
  display: flex;
  justify-content: center;
}
table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: $thin;
}
table, th, td {
    border: .5px solid rgba(255, 255, 255, .1);
    border-collapse: collapse;
    padding: 5px;
    font-size: 15px;
    color: white;
    th {
      text-align: center;
      font-size: 20px;
      line-height: 25px;
      color: $red;
      // text-decoration: underline;
    }
}
.submit-button-container {
  height: auto;
  margin-top: 6vh;
  display: flex;
  justify-content: center;
  align-content: center;
}
.customer-information {
  display: flex;
  flex-direction: column;
}
.customer-name {
  height: 20px;
  width: 150px;
  margin-bottom: 5px;
  margin-right: 3vw;
}
.customer-phone {
  @extend .customer-name;
}
.customer-email {
  @extend .customer-name;
}
.order-submit {
  background-color: $red;
  color: white;
  width: 180px;
  border: none;
  padding: 4px;
  // margin-top: 20px;
  border-radius: 5px;
  &:hover {background-color: white; color: $dark-green}
}
.phone-alert{
  margin-top: 4vh;
  h1 {
    font-family: $thin;
    font-size: 13px;
  }
}











/*media queries*/
@media (min-width: 415px){

}
@media (min-width: 780px){
  .customer-name {
    width: 300px;
  }
  .hero-image {
    width: 93%;
    height: 93%;
  }
  #family-farm {
    opacity: 1;
  }
  #place-order {
    opacity: 1;
  }
  .desktop-nav-container {
    position: absolute;
  }
  .desktop-nav {
    display: flex;
  }
  .desktop-nav a {
    display: flex;
  }
  .ham {
    visibility: hidden;;
  }
  .mobile-go-login-button {
    visibility: hidden;
  }
  .desktop-go-login-button {
    opacity: 1;
  }
  //  PARTIALS NAVIGATION
  .partial-nav-to-home{
    visibility: visible;
  }
  .mobile-partial-nav-to-home{
    display: none;
  }
  .mobile-partial-nav {
    display: none;
  }
  //  LOGIN PAGE
  .desktop-login-main {
    display: flex;
  }
  .mobile-login-main {
    display: none;
  }
  .login-title {
    font-size: 24px;
  }
  .input-container {
    margin-top: 19%;
  }
  .cherry h1{
    visibility: visible;
  }
  .about-main {
    height: auto;
    background-color: black;
    width: 100%;
  }
  .about-header {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    // overflow: hidden;
  }
  .about-title {
    // width: 30vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25vh;
    padding-bottom: 3vh;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0 0 15px 15px;
    h1 {
      font-size: 130px;
      margin-bottom: 90px;
    }
    h2 {
      font-family: $body;
      font-size: 50px;
      color: $blue;
    }
  }
  .overview-container {
    p {
      font-size: 20px;
    }
  }
  .jordan {
    height: 85vh;
    // opacity: 0;
    // visibility: hidden;
  }
  // .fadeIn {
  //     -webkit-animation: animat_show 2s;
  //     animation: animat_show 2s;
  //     visibility: visible !important;
  // }
  // @-webkit-keyframes animat_show{
  //     0%{opacity:0}
  //     100%{opacity:1}
  // }
  #jordan-text {
    width: 40vw;
    margin-top: 5vh;
    margin-right: 2vw;
    float: right;
  }
  .solid-section {
    height: 60vh;
    background-color: $dark-green;
  }
  .green-house-video {
    display: none;
    background-color: black;
    margin-right: auto;
    margin-left: auto;
    width: 100vw;
  }
  .farms-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p {
      width: 25vw;
      text-align: justify;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #farm-icons {
      margin-bottom: 3vh;
    }
    #farms-hipsum {
      display: flex;
    }
  }
  .alan {
    background: url("../../assets/photos/conference.jpg");
    background-size: cover;
    height: 80vh;
    // opacity: 0;
  }
  .wares-container {
    .wares-links {
    flex-direction: row;
    justify-content: space-between;
    }
    a {
      font-size: 25px;
    }
  }
  .instagram-container {
    flex-direction: row;
    max-width: 100vw;
    overflow: scroll;
    img {
      width: auto;
      height: 35vh;
      margin-bottom: -3px;
      transition: opacity .5s linear;
      opacity: .4;
      &:hover{opacity: 1};
    }
  }
  .mobile-admin-header {
    display: none;
  }
  .mobile-admin-header-text {
    display: none;
  }
  .desktop-admin-header {
    display: flex;
  }
  .desktop-admin-header-text {
    display: inline;
  }
  .contact-header {
    right: 47%;
  }
  .wholesale-header{
    right: 47%;
  }
  .contact-container {
    width: 50%;
    height: 100%;
    background-attachment: fixed;
    background-image: none;
    background-color: white;
  }
  .sub-contact-main {
    height: 90vh;
  }
  .contact-container div {
    width: 89%;
  }
  .locations-sub-one {
    visibility: visible;
  }
  .markets-container {
    width: 45%;
  }
  .information-container {
    width: 50vw;
    height: 75vh;
  }
}
@media (min-width: 1224px){
  // .desktop-logo {
  //   display: block;
  // }
  // .mobile-logo {
  //   display: none;
  // }
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
