.landing {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: inline-block; }

.ham {
  width: 80vw;
  height: 13px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
  text-align: center;
  padding-top: 1vh; }

.hero-image {
  background-image: url("../../assets/photos/blueberries.jpg");
  background-size: cover;
  width: 92%;
  height: 92%;
  margin: auto;
  display: flex; }

.mobile-logo {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column; }

.light-box, .dark-box {
  background-color: white;
  width: 100%;
  height: 120px;
  font-family: "Lobster", cursive;
  color: #BD573F;
  font-size: 56px;
  display: flex;
  align-items: center;
  justify-content: center; }

.fresh-box {
  padding-bottom: 10px;
  border-bottom: 1px solid white; }

.dark-box {
  background-color: #1E211F;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  color: white;
  font-size: 15px; }

.mobile-nav {
  background-color: #1E211F;
  opacity: 0.8;
  width: 100%;
  height: auto;
  text-align: center;
  line-height: 39px;
  display: none;
  padding-top: 1vh;
  padding-bottom: 1vh; }

.mobile-nav a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 100; }

.mobile-go-login-button {
  margin-top: 1vh;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px; }

.mobile-go-login-button :hover {
  color: #BD573F; }

.mobile-go-login-button > a {
  color: #276998;
  text-decoration: none; }
  .mobile-go-login-button > a:hover {
    color: #276998; }

.desktop-nav-container {
  position: relative;
  top: 8px;
  right: 28vw; }

.desktop-nav {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  width: 45vw; }

.desktop-nav a {
  display: none;
  text-decoration: none;
  font-size: 17px;
  color: #1E211F;
  font-family: "Raleway", sans-serif; }
  .desktop-nav a:hover {
    background-color: #BD573F;
    color: white; }

.desktop-logo {
  display: none;
  align-self: center;
  margin-left: auto;
  margin-right: auto; }

.cherry h1 {
  visibility: hidden; }

#delivery-link {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  font-family: "Lobster", cursive;
  position: absolute;
  left: -1.4em;
  align-self: center;
  font-size: 19px; }
  #delivery-link a {
    text-decoration: none;
    color: #E4BD3A; }

#family-farm {
  opacity: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  color: #1E211F;
  position: absolute;
  right: -2em;
  top: 50%;
  font-size: 12px; }

#about-link {
  font-family: "Lobster", cursive;
  color: #E4BD3A;
  position: absolute;
  bottom: 10px;
  margin-left: 45%;
  font-size: 19px; }
  #about-link a {
    text-decoration: none;
    color: #E4BD3A; }

#locations-link {
  font-family: "Lobster", cursive;
  color: #E4BD3A;
  position: absolute;
  top: 8px;
  margin-left: 43%;
  justify-content: center;
  font-size: 19px; }
  #locations-link a {
    text-decoration: none;
    color: #E4BD3A; }

.desktop-go-login-button {
  text-align: right;
  font-size: 20px;
  position: absolute;
  right: 3vw;
  top: 1vh;
  opacity: 0; }

.desktop-go-login-button > a {
  color: #276998;
  text-decoration: none; }
  .desktop-go-login-button > a:hover {
    color: #BD573F; }

.partial-nav-to-home, .partial-nav {
  visibility: hidden;
  position: fixed;
  right: -15px;
  top: 50vh;
  height: 93px;
  width: 93px;
  border-radius: 50%;
  background-color: #276998;
  text-align: center; }
  .partial-nav-to-home .fa-home, .partial-nav .fa-home {
    color: white;
    text-decoration: none; }
  .partial-nav-to-home:hover, .partial-nav:hover {
    background-color: #BD573F; }

.partial-nav {
  cursor: pointer;
  left: -15px; }
  .partial-nav .fa-bars {
    -webkit-filter: invert(1);
    text-decoration: none; }

.partial-menu {
  position: fixed;
  left: 69px;
  top: 50vh;
  background-color: #276998;
  opacity: 0.9;
  border-radius: 15px;
  width: 250px;
  height: auto;
  text-align: center;
  line-height: 39px;
  display: none;
  padding-top: 1vh;
  padding-bottom: 1vh; }
  .partial-menu a {
    text-decoration: none;
    font-family: "Asap", sans-serif;
    color: white; }

.mobile-partial-nav-to-home, .mobile-partial-nav {
  visibility: visible;
  position: fixed;
  right: -10px;
  top: 50vh;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #276998;
  text-align: center; }
  .mobile-partial-nav-to-home .fa-home, .mobile-partial-nav .fa-home {
    color: white;
    text-decoration: none; }

.mobile-partial-nav {
  left: -10px; }
  .mobile-partial-nav .fa-bars {
    -webkit-filter: invert(1);
    text-decoration: none; }

.about-main {
  height: 100vh;
  width: 100%; }

.about-header {
  height: 100%;
  width: 100vw;
  background-image: url("../../assets/photos/barn-wood.jpg");
  background-size: cover; }

.about-title {
  width: 50vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 45vh;
  padding-bottom: 3vh;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0 0 15px 15px; }
  .about-title h1 {
    font-family: "Lobster", cursive;
    color: #BD573F;
    font-size: 60px;
    margin-bottom: 30px; }
  .about-title h2 {
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: #276998;
    padding-bottom: 4px;
    border-bottom: 4px solid #276998; }

.solid-section {
  height: 60vh;
  background-color: #1E211F; }

.jordan {
  background: url("../../assets/photos/opaque/jrValicoffOP.png");
  background-size: contain;
  height: 100%;
  width: 100%;
  font-family: "Asap", sans-serif; }

#jordan-text {
  width: 40vw;
  margin-top: 5vh;
  margin-right: 2vw;
  float: right; }

.green-house-video {
  display: none;
  background-color: black;
  margin-right: auto;
  margin-left: auto;
  width: 100vw; }

.alan {
  background: url("../../assets/photos/conference.jpg");
  background-size: cover;
  height: 80vh; }

.locations-header {
  font-family: "Lobster", cursive;
  text-align: center;
  font-size: 26px;
  line-height: 30px; }

.locations-main {
  height: 92vh;
  background-color: white;
  padding: 4vh 3vw;
  overflow: scroll; }

.locations-sub-one {
  height: 92vh;
  width: 50%;
  visibility: hidden;
  position: fixed;
  right: 3vh;
  top: 3vh;
  background-image: url("../../assets/photos/green-beans.jpeg");
  background-size: cover; }

.markets-container {
  width: 100%;
  padding: 3vh 0;
  background-color: #1E211F;
  font-family: "Raleway", sans-serif;
  color: white;
  text-align: center;
  margin-top: 20px;
  opacity: .85;
  align-content: center;
  border-radius: 8px; }
  .markets-container h1 {
    font-family: "Lobster", cursive;
    margin-bottom: 10px; }

.locations-main::-webkit-scrollbar {
  width: 3px; }

.locations-main::-webkit-scrollbar-track {
  background: white; }

.lcoations-main::-webkit-scrollbar-thumb {
  outline: none;
  background-color: #2a3132; }

.admin-main {
  padding-top: 20px;
  width: 100%;
  height: 100%; }

.mobile-admin-header {
  height: 70vh;
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  text-align: center; }
  .mobile-admin-header img {
    height: auto;
    width: 100%;
    border-radius: 6px;
    margin-bottom: 60px; }

.mobile-admin-header-text {
  align-self: center;
  display: inline;
  font-family: "Lobster", cursive;
  font-size: 30px; }
  .mobile-admin-header-text h2 {
    margin-top: 30px;
    font-size: 22px;
    color: #1E211F; }

.desktop-admin-header {
  height: 35vh;
  width: 50vw;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5vh;
  display: none;
  text-align: center;
  align-content: center; }
  .desktop-admin-header img {
    height: 35vh;
    margin-right: 50px;
    border-radius: 6px; }

.desktop-admin-header-text {
  align-self: center;
  display: none;
  line-height: 55px;
  font-family: "Lobster", cursive;
  font-size: 30px; }
  .desktop-admin-header-text h2 {
    font-size: 22px;
    color: #1E211F; }

.market-form, .product-form, .personal-notes {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  padding: 3vh 0;
  background-color: #1E211F;
  font-family: "Asap", sans-serif;
  text-align: center;
  margin-bottom: 30px;
  opacity: .85;
  align-content: center;
  border-radius: 8px; }
  .market-form h1, .product-form h1, .personal-notes h1 {
    font-family: "Lobster", cursive;
    margin-bottom: 26px;
    font-size: 20px;
    color: white; }
  .market-form li, .product-form li, .personal-notes li {
    list-style: none;
    margin-bottom: 10px; }
  .market-form input, .product-form input, .personal-notes input {
    width: 90%; }
  .market-form .delete-button, .product-form .delete-button, .personal-notes .delete-button {
    width: 22px;
    font-weight: 700; }

.market-form-button, .product-form-button {
  background-color: #BD573F;
  color: white;
  border: none; }
  .market-form-button:hover, .product-form-button:hover {
    background-color: #276998; }

.watch-container {
  font-family: "Asap", sans-serif; }

::-webkit-scrollbar {
  display: none; }

.admin-market-watch, .admin-product-watch, .admin-orders-watch {
  width: 80vw;
  overflow-x: scroll;
  margin-left: auto;
  margin-right: auto;
  padding: 3vh 0;
  background-color: #BD573F;
  font-family: "Asap", sans-serif;
  margin-bottom: 20px;
  opacity: .85;
  border-radius: 8px;
  display: flex;
  text-align: center;
  flex-direction: column; }
  .admin-market-watch h1, .admin-product-watch h1, .admin-orders-watch h1 {
    font-family: "Lobster", cursive;
    margin-bottom: 26px;
    font-size: 20px;
    color: white; }

.admin-markets, .admin-products, .admin-orders {
  width: 100%;
  display: flex;
  justify-content: center; }

table {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

table, th, td {
  border: .5px solid white;
  border-collapse: collapse;
  padding: 5px;
  font-size: 15px;
  color: white; }
  table th, th th, td th {
    text-align: center; }

.delete-button {
  width: 50px; }

.personal-notes {
  background-color: #276998; }
  .personal-notes input {
    margin-top: 20px; }

.personal-note-button {
  margin-bottom: 20px;
  background-color: #BD573F;
  color: white;
  border: none; }

.personal-note-container {
  margin-top: 20px;
  border: white solid 1px;
  border-radius: 8px;
  width: 90%;
  padding: 3vh 0;
  color: white;
  margin-right: auto;
  margin-left: auto;
  position: relative; }
  .personal-note-container .delete-button {
    position: absolute;
    right: 5px;
    top: -19px;
    background-color: #1E211F;
    color: white;
    border: none; }

.delivery-main {
  background-image: url("../../assets/photos/baskets.jpeg");
  background-size: cover;
  height: 100vh;
  z-index: 1; }

.delivery-header {
  background-color: black;
  height: 4vh; }

.box {
  height: 10%;
  width: 10%;
  float: right;
  right: 50px;
  background-color: black;
  transition: background-color .5s linear;
  z-index: 2;
  font-family: "Lobster", cursive;
  opacity: .9;
  text-align: center;
  align-self: center;
  font-size: 22px;
  color: #BD573F; }
  .box:hover {
    background-color: transparent; }

.dummy {
  padding-top: 100px;
  z-index: 1;
  position: absolute;
  top: 50vh; }

.contact-main {
  background-color: white;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: row; }

.sub-contact-main {
  height: 0vh;
  width: 95vw;
  margin: auto;
  margin-top: 45px;
  background-attachment: fixed;
  background-position: center;
  background-image: url("../../assets/photos/strawberries-hands.jpeg");
  background-size: cover; }

.contact-header, .wholesale-header {
  position: absolute;
  right: 40%;
  top: 7px; }

#contact-title {
  font-family: "Lobster", cursive;
  color: #1E211F;
  font-size: 30px; }

.contact-container {
  background-attachment: fixed;
  background-position: center;
  background-image: url("../../assets/photos/strawberries-hands.jpeg");
  background-size: cover;
  overflow: scroll;
  transition: background-color .5s linear;
  right: 0px;
  text-align: center;
  font-family: "Asap", sans-serif;
  font-size: 20px;
  padding-bottom: 45px;
  color: white; }
  .contact-container:hover {
    background-color: transparent; }
  .contact-container div {
    margin-top: 35px;
    background-color: #1E211F;
    opacity: 0.9;
    width: 315px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 35px 20px;
    border-radius: 7px; }
  .contact-container h2 {
    line-height: 32px;
    font-family: "Raleway", sans-serif; }
  .contact-container p {
    font-family: "Raleway", sans-serif; }
  .contact-container .fa-building, .contact-container .fa-phone, .contact-container .fa-laptop {
    margin-bottom: 35px; }
  .contact-container a {
    text-decoration: none;
    color: white;
    word-spacing: 20px; }

.desktop-login-main {
  background-image: url("../../assets/photos/apples-lot-of-leaves.jpeg");
  background-size: cover;
  height: 100vh;
  display: none; }

.mobile-login-main {
  background-image: url("../../assets/photos/peppers.jpg");
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: flex; }

.desktop-login-container {
  width: 500px;
  height: 42vh;
  background-color: white;
  margin-top: 12vh;
  margin-left: 10vw;
  border-radius: 10%;
  text-align: center; }

.mobile-login-container {
  background-color: white;
  width: 350px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  text-align: center;
  border-radius: 10%; }

.login-title {
  font-family: "Lobster", cursive;
  color: #276998;
  font-size: 18px;
  margin-top: 7%; }

.input-container {
  /*background-color: black;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 12%;
  height: 60%;
  width: 60%;
  font-family: "Asap", sans-serif; }

#user-name {
  /*margin-top: 100px;*/
  margin-bottom: 8%;
  border: 1px solid #276998;
  font-size: 15px;
  width: 218px;
  height: 27px;
  border-radius: 4px;
  padding-left: 4px; }

#password {
  margin-bottom: 12%;
  border: 1px solid #276998;
  font-size: 15px;
  width: 218px;
  height: 27px;
  border-radius: 4px;
  padding-left: 4px; }

#login-button {
  background-color: #276998;
  border: none;
  height: 27px;
  width: 60px;
  font-size: 15px;
  border-radius: 4px;
  color: white; }
  #login-button:hover {
    background-color: #BD573F; }

.footer-home-nav {
  background-color: #276998;
  width: 35px;
  height: 35px;
  /*justify-content: center;*/
  text-align: center;
  border-radius: 50%;
  margin-top: -80px;
  margin-left: auto;
  margin-right: auto; }
  .footer-home-nav:hover {
    background-color: #BD573F; }

.footer-home-nav > a {
  font-size: 30px;
  text-decoration: none;
  color: white; }

.wholesale-main {
  background: white;
  height: 100vh; }

#wholesale-title {
  font-family: "Lobster", cursive;
  color: #BD573F;
  font-size: 27px; }

.order-form-parent {
  width: 80vw;
  overflow-x: scroll;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 3vh 0;
  background-color: #BD573F;
  font-family: "Asap", sans-serif;
  opacity: .85;
  border-radius: 8px;
  display: flex;
  text-align: center;
  flex-direction: column; }
  .order-form-parent h1 {
    font-family: "Lobster", cursive;
    margin-bottom: 26px;
    font-size: 20px;
    color: white; }

.order-form {
  width: 100%;
  display: flex;
  justify-content: center; }

table {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

table, th, td {
  border: .5px solid white;
  border-collapse: collapse;
  padding: 5px;
  font-size: 15px;
  color: white; }
  table th, th th, td th {
    text-align: center; }

.submit-button-container {
  display: flex;
  justify-content: center;
  align-items: baseline; }

.customer-name, .customer-phone {
  height: 20px;
  width: 200px;
  border-radius: 4px; }

.order-submit {
  background-color: #1E211F;
  color: white;
  width: 180px;
  border: none;
  padding: 4px;
  margin-top: 20px;
  border-radius: 5px; }
  .order-submit:hover {
    background-color: white;
    color: #1E211F; }

/*media queries*/
@media (min-width: 780px) {
  .hero-image {
    width: 93%;
    height: 93%; }
  #family-farm {
    opacity: 1; }
  .desktop-nav-container {
    position: absolute; }
  .desktop-nav {
    display: flex; }
  .desktop-nav a {
    display: flex; }
  .ham {
    visibility: hidden; }
  .mobile-go-login-button {
    visibility: hidden; }
  .desktop-go-login-button {
    opacity: 1; }
  .partial-nav-to-home, .partial-nav {
    visibility: visible; }
  .mobile-partial-nav-to-home, .mobile-partial-nav {
    display: none; }
  .mobile-partial-nav {
    display: none; }
  .desktop-login-main {
    display: flex; }
  .mobile-login-main {
    display: none; }
  .login-title {
    font-size: 24px; }
  .input-container {
    margin-top: 19%; }
  .cherry h1 {
    visibility: visible; }
  .about-main {
    height: auto;
    background-color: black;
    width: 100%; }
  .about-header {
    background-image: url("../../assets/photos/barn-wood.jpg");
    background-size: cover; }
  .about-title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25vh;
    padding-bottom: 3vh;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0 0 15px 15px; }
    .about-title h1 {
      font-family: "Lobster", cursive;
      color: #BD573F;
      font-size: 130px;
      margin-bottom: 90px; }
    .about-title h2 {
      font-family: "Asap", sans-serif;
      font-size: 50px;
      color: #276998; }
  .jordan {
    background: url("../../assets/photos/opaque/jrValicoffOP.png");
    background-size: contain;
    height: 100%;
    width: 100%;
    font-family: "Asap", sans-serif; }
  #jordan-text {
    width: 40vw;
    margin-top: 5vh;
    margin-right: 2vw;
    float: right; }
  .solid-section {
    height: 60vh;
    background-color: #1E211F; }
  .green-house-video {
    display: block;
    background-color: black;
    margin-right: auto;
    margin-left: auto;
    width: 100vw; }
  .alan {
    background: url("../../assets/photos/conference.jpg");
    background-size: cover;
    height: 80vh; }
  .mobile-admin-header {
    display: none; }
  .mobile-admin-header-text {
    display: none; }
  .desktop-admin-header {
    display: flex; }
  .desktop-admin-header-text {
    display: inline; }
  .contact-header, .wholesale-header {
    right: 47%; }
  .wholesale-header {
    right: 47%; }
  .contact-container {
    width: 50%;
    height: 100%;
    background-attachment: fixed;
    background-image: none;
    background-color: white; }
  .sub-contact-main {
    height: 90vh; }
  .contact-container div {
    width: 89%; }
  .locations-sub-one {
    visibility: visible; }
  .markets-container {
    width: 45%; } }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
