.fade.ng-enter {
  position: relative;
  height: auto;
  opacity: -1 !important;
  -webkit-transition: bottom 2s cubic-bezier(.34,.45,.1,.96);
  // transition: bottom 1.3s ease-in-out;
  bottom: -100vh;
}

.fade.ng-enter-active {
    bottom: 0;
    opacity: 1 !important;
}
.fade.ng-leave {
    bottom: 0;
}

.fade.ng-leave-active {
    bottom: -100vh;
}
