/*.fade.ng-enter {
    opacity: 0 !important;
    transition-duration: 2s;
    -webkit-transition-duration: 2s;
}

.fade.ng-enter-active {
    opacity: 1 !important;
}

.fade.ng-leave {
    opacity: 1 !important;
    transition-duration: 1.5s;
    -webkit-transition-duration: 1.5s;
}

.fade.ng-leave-active {
    opacity: 0 !important;
}*/

.fade.ng-enter {
  position: relative;
  height: auto;
  opacity: -1 !important;
  -webkit-transition: bottom 2s cubic-bezier(.34,.45,.1,.96);
  // transition: bottom 1.3s ease-in-out;
  bottom: -100vh;
}

.fade.ng-enter-active {
    bottom: 0;
    opacity: 1 !important;
}

.fade.ng-leave {
    bottom: 0;
}

.fade.ng-leave-active {
    bottom: -100vh;
}
