@import "fonts-and-colors";

.wholesale-main {
  background: white;
  height: 100vh;
}
.wholesale-header {
  width: 100%;
  text-align: center;
  padding-top: 5px;
  #wholesale-title {
    font-family: $head;
    color: $dark-green;
    font-size: 25px;
  }
}
#wholesale-title {
  font-family: $head;
  color: $red;
  font-size: 27px;
}
#trailer {
  width:80vw;
  margin: 8vh auto 3vh auto;
  font-family: $thin;
  font-weight: 400;
  line-height: 20px;
  color: $dark-green;
  font-style: italic;
  text-align: center;
  opacity: .85;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#truck {
  color: $dark-green;
  vertical-align: middle;
  margin-bottom: 3vh;
}
.wholesale-welcome {
  padding-left: 3vw;
  margin-left: 6vw;
  border-left: 1px solid $dark-green;
  text-align: left;
  width: 90%;
  span {
    color: $red;
  }
}
.order-form-parent {
  width:80vw;
  overflow-x: scroll;
  margin: 15vh auto 20px auto;
  padding: 3vh 0;
  background-color: $dark-green;
  font-family: $thin;
  opacity: .85;
  border-radius: 8px;
  display: flex;
  text-align: center;
  flex-direction: column;
  h1 {
    font-family: $head;
    margin-bottom: 7vh;
    font-size: 26px;
    color: white;
  }
}
.order-form {
  width: 100%;
  display: flex;
  justify-content: center;
}
table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: $thin;
}
table, th, td {
    border: .5px solid rgba(255, 255, 255, .1);
    border-collapse: collapse;
    padding: 5px;
    font-size: 15px;
    color: white;
    th {
      text-align: center;
      font-size: 20px;
      line-height: 25px;
      color: $red;
    }
}
.submit-button-container {
  height: auto;
  margin-top: 6vh;
  display: flex;
  justify-content: center;
  align-content: center;
}
.customer-information {
  display: flex;
  flex-direction: column;
}
.customer-name {
  height: 20px;
  width: 150px;
  margin-bottom: 5px;
  margin-right: 3vw;
}
.customer-phone {
  @extend .customer-name;
}
.customer-email {
  @extend .customer-name;
}
.order-submit {
  background-color: $red;
  color: white;
  width: 180px;
  border: none;
  padding: 4px;
  // margin-top: 20px;
  border-radius: 5px;
  &:hover {background-color: white; color: $dark-green}
}
.phone-alert{
  margin-top: 4vh;
  h1 {
    font-family: $thin;
    font-size: 13px;
  }
}
